$map_colores:(

    background-color-body: rgb(185, 176, 124, 0.4),    
    background-color-header: brown,
    background-color-p: rgba(0, 0, 0, 0.479),
    
    background-container: rgb(94, 13, 13),
    background-footer: rgb(38, 38, 139),
    background-form: rgba(0,0,0,0.4),
    background-boton: #31384a,
    

    border-container: 1px solid black, 
    border-header: rgb(86, 65, 105) solid,

    letra_blanca: #fff,

);


@mixin propiedadesBackground{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


}
